

#section1{
    background-image: url(../image/altitude.jpg);
    

}

.img{
    width: 1200;
    height: 1200;
}




@media (max-width: 576px) { 

    #menu{
        text-align: center;
    }

    #section1{
        
    }

}
