body{

}

#box1{
    background: url("../image/mario.jpg");
    
    
  }

  #box2{
    background: url("../image/breakingbad.jpg");
    
    
  }

  #box3{
    background: url("../image/mario.jpg");
    
    
  }

  #box4{
    background: url("../image/mario.jpg");
    
    
  }

  #box5{
    background: url("../image/mario.jpg");
    
    
  }

  #box6{
    background: url("../image/mario.jpg");
    
    
  }