#contactINFO{
    justify-content: center;
}

#imgLogo{
    width: 150px;
}

.display-content {
    padding-bottom: 80px;
}

.favi {
    size: 20px;
}



@media(max-width: 500px) {
    #imgLogo{
        width: 120px;
        
    }

    .header {
        height: 60px;
    }

    


}